/* PrayerRequestForm.css */
body{
  background-color: rgba(203, 177, 255, 0.463);
}

header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  select,
  input,
  textarea {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  