

name: Deploy to Amazon

on:
  push:
    branches: [ "main" ]

env:
  AWS_REGION: us-east-1                  # set this to your preferred AWS region, e.g. us-west-1


permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout


jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-region: ${{ env.AWS_REGION }}
        role-to-assume: arn:aws:iam::893545707099:role/GithubActions
        role-session-name: GithubActions

    - name: AWS Who Am I
      run: aws sts get-caller-identity
